.content
	.section
		.row
			.twelve.columns
				%h5
					%strong SIGN UP
				%hr
		.row
			.five.columns.give-right-border
				.row
					.twelve.columns
						=form_for(resource, :as => resource_name, :url => registration_path(resource_name), :validate => true) do |f|

							%ul
								%li
									%strong=f.label :firstname, "First Name"
									=f.text_field :firstname, :placeholder => "First Name", :class => "custom-textarea"
								%li
									%strong=f.label :lastname, "Last Name"
									=f.text_field :lastname, :placeholder => "Last Name", :class => "custom-textarea"

								%li
									%strong=f.label :email
									=f.text_field :email, :placeholder => "Email", :class => "custom-textarea"

								%li
									%strong=f.label :password, "Password"
									=f.password_field :password, :placeholder => "Password", :class => "custom-textarea"
								%li
									%strong=f.label :confirmpassword, "Confirm Password"
									=f.password_field :password_confirmation, :placeholder => "Confirm Password", :class => "custom-textarea"
								%li=f.submit :class => "small black button", :value => "SIGN  UP"
						= render :partial => "devise/shared/links"
			.five.columns
				.row
					.container
						.row
					.container
						.row
					.container
						.row
							.seven.columns.social-media
								.row
									=link_to image_tag("facebook_login.png"), user_omniauth_authorize_path(:facebook)
								.row
									=link_to image_tag("googleconnect.png"), user_omniauth_authorize_path(:google)
							.two.columns