.container
	.row
		.twelve.columns
			%h3=@theme.name.capitalize

.contianer
	.row
		.twelve.columns
			=link_to "upload a photo", new_theme_photo_path(@theme), :class => "small white button"

.container
	.row
		.four.columns
		.six.columns
			-@theme.photos.each do |photo|
				=image_tag(photo.picture.thumb_medium.url)
				=link_to photo.name, [@theme,photo]
		.two.columns