.container
	.row.frame
		.six.columns.featured
			=image_tag "Half Dome.jpg"
			.image-description
				//%h5 THis is picture one
		.six.columns.normal
			.row
				.twelve.columns
					=image_tag "Kyoto River.jpg"
			.image-margin-top
			.row
				.six.columns
					=image_tag "Skyline GTR.jpg"
				.six.columns
					=image_tag "pic_7.jpg"