.container
	.row.frame
		.six.columns.featured
			=image_tag "nature_1.jpg"
			.image-description
				%h5 THis is picture one
		.six.columns.normal
			.row
				.six.columns
					=image_tag "nature_2.jpg"
				.six.columns
					=image_tag "nature_2.jpg"
					.image-description
						%h5 THis is picture one
			.row
				.six.columns
					=image_tag "nature_2.jpg"
				.six.columns
					=image_tag "nature_2.jpg"