.container
	.row.frame
		.six.columns.normal
			.row
				.six.columns
					=image_tag "pic_6.jpg"
				.six.columns
					=image_tag "pic_7.jpg"
			.image-margin-top
			.row
				.twelve.columns
					=image_tag "Kyoto River.jpg"
		.six.columns.featured
			=image_tag "Eclipse.jpg"
