.container
	.row.frame
		.six.columns.featured
			=image_tag "picture_1.jpg"
			.image-description
				//%h5 THis is picture one
		.six.columns.normal
			.row
				.twelve.columns
					=image_tag "picture_4.jpg"
			.image-margin-top
			.row
				.six.columns
					=image_tag "picture_6.jpg"
				.six.columns
					=image_tag "picture_7.jpg"