.container
	.row.frame
		.six.columns.normal
			.row
				.six.columns
					=image_tag "picture_6.jpg"
				.six.columns
					=image_tag "picture_7.jpg"
			.image-margin-top
			.row
				.twelve.columns
					=image_tag "picture_5.jpg"
		.six.columns.featured
			=image_tag "picture_3.jpg"
