.container
	.row.frame
		.six.columns.featured
			=image_tag "nature_1.jpg"
		.six.columns.normal
			.row
				.six.columns
					=image_tag "nature_2.jpg"
				.six.columns
					=image_tag "nature_2.jpg"
			.row
				.six.columns
					=image_tag "nature_2.jpg"
				.six.columns
					=image_tag "nature_2.jpg"
.container
	.row.frame
		.six.columns.normal
			.row
				.six.columns
					=image_tag "nature_2.jpg"
				.six.columns
					=image_tag "nature_2.jpg"
			.row
				.six.columns
					=image_tag "nature_2.jpg"
				.six.columns
					=image_tag "nature_2.jpg"
		.six.columns.featured
			=image_tag "nature_1.jpg"
.container
	.row.frame
		.six.columns
			=image_tag "nature_1.jpg"
		.six.columns
			=image_tag "nature_1.jpg"