* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


html, body {    
   height: 100%; 
   background-color: #EFEFEF;
   color: #C0C0C0;

}

.container{
	margin-top: 20px;
}

.nav{
	background-color: #232323;
}

.signup,.login{
	margin-top: 10px;
}

.signup{
	margin-left: 1%;
}

.nav img{
	display: block;
}

.custom-cobalt-blue.button {
	background-color: #b0c5ff;
}

.login a {
	color: black;
}

.login {
	text-align: right;
}

.white.button{
	color: black;
}


#all_content{
  min-height: 92%;
}


.round-corner{
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
   border-radius: 2px;
}

.footer{
  padding-top: 5px;
  position: relative;
  background-color: #232323;
}

.foot{
  padding: 2px;
  color: #FAFAFA;
  font-size: 120%;
  font-style: bold;
}

.foot:hover{
	color: #F2F2F2;	
}

/*.frame img{
	padding: 15px;
	border: 1px solid #F2F2F2;
	-moz-border-radius: 3px; 
    -webkit-border-radius: 3px; 
    border-radius: 3px;
}*/