.nav
	.row
		.two.columns
			=link_to logo, root_url
		.six.columns
		.four.columns
			.two.columns
			.five.columns.signup
				%strong=link_to "SIGNUP", "#", :class => "white round-corner button"
			.five.columns.login
				%strong=link_to "LOGIN", "#", :class => "custom-cobalt-corner round-corner button"
		