.nav
	.row
		.two.columns
			=link_to logo, root_url
		.six.columns
		.four.columns
			.six.columns
			.three.columns.signup
				%strong=link_to "SIGNUP", "#"
			.three.columns.login
				%strong=link_to "LOGIN", "#"
		