.second-header-bottom-margin
	.row
		.three.columns
		.two.columns
			%strong=link_to "Photo", "#", :class => "white button"
		.tow.columns
			%strong=link_to "Wall", "#", :class => "wall"
		.two.columns
			%strong=link_to "Discover", "#", :class => "discover"
		.three.columns
